<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="">

  <div style="height: 100%;">

    <div >
      <app-componente1 [data]="lista1"></app-componente1>
    </div>

    <div >
      <app-componente2 [data]="noticias"></app-componente2>
    </div>

    <div style="height: 15%; background: #e4e4e4;" class="ion-padding">
      <app-componente3 [data]="lista2"></app-componente3>
    </div>

  </div>
</ion-content>